:root {
    /*
    * Used to create uniform visual space. Smaller/bigger values should be
    * created using `calc`:
    *
    * padding: calc( var(--spacing) / 2 );
    */
    --spacing: 12px;

    /*
    * Hierarchy of z-index values (i.e. planes). To elevate elements within
    * these planes, add arbitrary values small than 100 via `calc`:
    *
    * z-index: calc( var(--plane-document) + 10 );
    */
    --plane-document: 200;
    --plane-toolbox: 300;
    --plane-modal: 400;

    /*
    * Colors
    */
    --c-text: #222;
    --c-text-disabled: hsl(0, 0%, 70%);
    --c-background: #fff;

    --c-accent-light: hsl(220, 80%, 80%);
    --c-accent:       hsl(220, 50%, 50%);
    --c-accent-dark:  hsl(220, 50%, 40%);

    --c-grey-light: hsl(0, 0%, 80%);
    --c-grey:       hsl(0, 0%, 50%);
    --c-grey-dark:  hsl(0, 0%, 20%);
}
/*
* Defaults
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
ul, ol, dl, dd,
figure {
    margin: 0;
    padding: 0;
}

details,
summary,
main {
    display: block;
}



/*
* Basic appearance & typography
*/
html {
    overflow-y: scroll;
    font-size: 1em;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--c-text);
    background-color: var(--c-background);
}

/* Set `margin-bottom` to maintain vertycal rhythm */
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
ul, ol, dl,
figure {
    margin-bottom: 1.5rem;
}

a {
    color: var(--c-accent);
    text-decoration: none;
}

a:visited {
    color: var(--c-accent-dark);
}

a:hover,
a:active {
    text-decoration: underline;
}

abbr[title] {
    border-bottom: 1px dotted;
}



/*
* Image
*/
img {
    max-width: 100%;
    border: 0;
}

img,
svg {
    vertical-align: middle;
}



/*
* Figure
*/
figure > img {
    display: block;
}

figure > * {
    margin-bottom: 0;
}



/*
* Table
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

th, td {
    padding: calc(var(--spacing) / 2);
}

th {
    font-weight: bold;
}



/*
* Code / user input
*/
pre,
code,
kbd,
samp {
    font-family: "Fira Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

kbd {
    padding: calc(var(--spacing) / 4) var(--spacing);
    border: 1px solid var(--c-grey-light);
    border-radius: 4px;
    box-shadow: 0 1px var(--c-grey-dark);
    text-transform: capitalize;
}



/*
* Utility
*/
.visually-hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/*
* Resets
*/
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    padding: 0;
    border: 0;
}

button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: visible;
    font: inherit;
    border: 0;
    padding: 0;
}



/*
* Basic Styling
*/
input,
button {
    color: var(--c-text);
}

input:disabled,
button:disabled {
    color: var(--c-text-disabled);
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
button:disabled {
    background-color: var(--c-grey);
}

input[type="submit"],
button {
    color: #fff;
    background-color: var(--c-accent);
}



/*
* Fieldset
*/
fieldset {
    padding: calc(var(--spacing) * 2);
}



/*
* Button
*/
input[type="submit"],
button {
    /*border: 2px solid var(--c-grey-dark);*/
    padding: calc(var(--spacing) / 4) var(--spacing);
}

input[type="submit"]:enabled:hover,
input[type="submit"]:enabled:active,
button:enabled:hover,
button:enabled:active {
    background-color: var(--c-accent-dark);
}

input[type="submit"]:enabled:focus,
button:enabled:focus {
    outline: 2px solid var(--c-accent-light);
}



/*
* Switch button
*/
.form-group--switch {
    display: flex;
    align-items: center;
}

.form-group--switch:not(:last-child) {
    margin-bottom: calc(var(--spacing) / 2);
    padding-bottom: calc(var(--spacing) / 2);
    border-bottom: 1px solid var(--c-grey-light);
}

.form-group--switch .form-label {
    flex: 1;
    margin-right: calc(4 * var(--spacing));
}

button[aria-checked] {
    display: flex;
    color: #fff;
    background-color: var(--c-grey-dark);

    --size: calc(2 * var(--spacing));
    --offset: 4px;
    position: relative;
    width: calc(2 * var(--size) + 2 * var(--offset));
    height: calc(var(--size) + 2 * var(--offset));
    padding: var(--offset);
    border: 0;
    border-radius: calc(var(--size) + var(--offset));
}

button[aria-checked]:disabled {
    background-color: var(--c-grey);
}

button[aria-checked="true"]:enabled {
    background-color: var(--c-accent);
}

button[aria-checked="false"]:enabled {
    background-color: var(--c-grey);
}

button[aria-checked="true"]:enabled:hover {
    background-color: var(--c-grey);
}

button[aria-checked="false"]:enabled:hover {
    background-color: var(--c-accent);
}

button[aria-checked] .state {
    position: absolute;
    top: var(--offset);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    color: var(--c-text);
    border-radius: calc(var(--size) / 2);
}

button[aria-checked] .state--true {
    left: var(--offset);
}

button[aria-checked] .state--false {
    right: var(--offset);
}

button[aria-checked="true"]:enabled .state--true,
button[aria-checked="false"]:enabled .state--false {
    background-color: #fff;
}

button[aria-checked="true"]:disabled .state--true,
button[aria-checked="false"]:disabled .state--false {
    background-color: var(--c-grey-light);
}
.modal {
    position: fixed;
    will-change: transform;
    z-index: var(--plane-modal);
    top: 0;
    right: 0; /* test */
    bottom: 0; /* test */
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal.closed {
    display: none;
}

.modal-content {
    position: relative;
    overflow: auto;
    padding: calc(var(--spacing) * 2);
    box-shadow: 0 0 10px #000;
    background-color: var(--c-background);
}

.close-modal {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
}

.modal-content h2 {
    margin-bottom: 0;
    border-bottom: 1px solid var(--c-grey-light);
}
.main-content {
    margin-top: calc(var(--spacing) * 4);
    padding: var(--spacing);
}

.doc-view {
    --page-aspect-ratio: 1.25;
    --page-width: 200px;
    --page-height: calc(var(--page-width) / var(--page-aspect-ratio));
    --border-width: 1px;

    width: 100%;
    position: relative;

    overflow: hidden;
    border: 1px solid var(--c-grey-light);
}

@media only screen and (min-width: 600px) {
    .doc-view {
        --page-width: 300px;
    }
}

/*
* Collapse vertical borders by applying a negative margin on one side.
*
* Details: Applying a border in general leads to stacking borders when elements
* appear right next to each other. Since `doc-view` is stacked vertically by
* default, removing the redundant border width can be done by applying a
* negative in one of the two dimensions.
*/
.doc-view:not(:last-child) {
    margin-bottom: calc(-1 * var(--border-width));
}

.doc {
    /* Clears floated .doc__page elements */
    display: flow-root;

    /*transition: transform 0.1s ease-in-out;*/
}

.doc.select-disabled {
    /* as per: https://stackoverflow.com/a/4407335/2036825 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.doc__page {
    float: left;
    width: var(--page-width);
    height: var(--page-height);

    border: var(--border-width) solid var(--c-grey-light);
    margin: calc(-1 * var(--border-width));
    margin-right: 0;

    /* Make sure transparent slides appear on white background */
    background-color: var(--c-background);
}

.doc__page:not(.doc-info) {
    text-align: center;
}

.doc__page > img {
    /* Maintain aspect-ratio while filling the container */
    object-fit: contain;

    /* alt text styles  */
    margin-right: auto;
    margin-left: auto;
    line-height: var(--page-height);
    font-style: italic;
}

.doc-info {
    padding: calc(var(--spacing) / 2);
    color: var(--c-grey-dark);
}

.doc-title {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1rem;
}

.doc-view:focus {
    outline: 0;
}

.doc-view:focus,
.doc-view.active {
    /*border-color: var(--c-accent);
    box-shadow: 0 0 2px 0 var(--c-accent);*/

    /*
    * Elevate the active view above all other views. This is used to make its
    * border visible when negative margins are used to collapse the border
    * widths.
    */
    z-index: var(--plane-document);
}

.doc-view,
.doc__page {
    position: relative;
}

.doc-view.active .doc::before,
.doc-view.active .doc__page.active::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(220, 50%, 50%);
    /*background-color: var(--c-accent);*/
    opacity: 0.15;
    /*transition: all 0.1s ease-in;*/
}

.doc-view.active .doc::before {
    z-index: 20;
    /*z-index: calc(var(--plane-document) + 10);*/
}

.doc-view.active .doc__page.active::before {
    z-index: 30;
    /*z-index: calc(var(--plane-document) + 20);*/
}
.toolbox {
    --c-text: #fff;
    --c-background: #222;

    position: fixed;
    will-change: transform;
    top: 0;
    right: 0;
    left: 0;
    height: calc(var(--spacing) * 4);
    z-index: var(--plane-toolbox);
    display: flex;
    align-items: center;
    padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
    color: var(--c-text);
    background-color: var(--c-background);
}

.toolbox a {
    color: currentColor;
}

.toolbox > *:not(:last-child) {
    margin-right: calc(var(--spacing) * 2);
}

.site-title {
    margin-bottom: 0;
    font-size: 1rem;
}
.shortcut-table-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.shortcut-table__input {
    text-align: right;
    min-width: 10em;
}

.shortcut-table__action {
    text-align: left;
}

.shortcut-group:not(:last-child) {
    margin-bottom: calc(var(--spacing) / 2);
}

.shortcut-group > kbd {
    display: inline-block;
}

/*# sourceMappingURL=app.bundle.css.map*/