/*
* Container for all documents
*/
.doc-container {
  padding: var(--spacing);
}

/*
* Document view
*
* The document view contains a document. This document overflows.
*/
.doc-view {
  --page-aspect-ratio: 1.25;
  --page-width: 200px;
  --page-height: calc(var(--page-width) / var(--page-aspect-ratio));
  --border-width: 1px;

  width: 100%;
  position: relative;
  z-index: var(--plane-document);

  overflow: hidden;
  border: var(--border-width) solid var(--c-alt-light);
  margin: calc(-1 * var(--border-width));
}

@media only screen and (min-width: 600px) {
  .doc-view {
    --page-width: 300px;
  }
}

.doc-view.active {
  --c-text: #000;
  --c-accent: hsl(220, 100%, 15%);
  --c-accent-dark: hsl(220, 100%, 5%);

  /*
  Elevate the active view above all other views. This is used to make its
  border visible when negative margins are used to collapse the border
  widths.
  */
  z-index: calc(var(--plane-document) + 10);
}

.doc {
  /* Clears floated .doc__page elements */
  display: flow-root;
}

.doc.select-disabled {
  /* as per: https://stackoverflow.com/a/4407335/2036825 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

.doc__page {
  float: left;
  width: var(--page-width);
  height: var(--page-height);
  position: relative;

  outline: var(--border-width) solid var(--c-alt-light);

  /* Make sure transparent slides appear on white background */
  background-color: #fff;
}

.doc__page:not(:last-child) {
  margin-right: var(--border-width);
}

.doc__page > img {
  display: block;

  /* Maintain aspect-ratio while filling the container */
  object-fit: contain;

  /* Style alt text */
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  line-height: var(--page-height);
  font-style: italic;
}

.doc-meta {
  padding: calc(var(--spacing) / 2);
}

.doc-meta__title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
}

.doc-view.active .doc::before,
.doc-view.active .doc__page.active::before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.doc-view.active .doc::before {
  background-color: hsla(220, 50%, 40%, 0.15);
}

.doc-view.active .doc__page.active::before {
  border: 2px solid hsla(220, 50%, 40%, 0.25);
}

.doc-view.active .doc::before {
  z-index: 220;

  /*
  Custom properties don’t work on pseudo elements in Edge 15. See:
  https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
  In the future, this can be uncommented:
  */
  /* z-index: calc(var(--plane-document) + 20); */
}

.doc-view.active .doc__page.active::before {
  z-index: 230;

  /*
  Custom properties don’t work on pseudo elements in Edge 15. See:
  https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
  In the future, this can be uncommented:
  */
  /* z-index: calc(var(--plane-document) + 30); */
}

/* .dov-view {
  background-color: var(--c-alt-light);
}

.doc-view:not(.active) {
  padding-bottom: 8px;
}

.doc-view.active {
  overflow-x: auto;
  overflow-y: hidden;
}

.doc-view::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.doc-view::-webkit-scrollbar-thumb {
  background-color: var(--c-alt);
} */
