/*
* Defaults
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
ul, ol, dl, dd,
figure {
    margin: 0;
    padding: 0;
}

details,
summary,
main {
    display: block;
}



/*
* Basic appearance & typography
*/
html {
    overflow-y: scroll;
    font-size: 1em;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--c-text);
    background-color: var(--c-background);
}

/* Set `margin-bottom` to maintain vertycal rhythm */
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
ul, ol, dl,
figure {
    margin-bottom: 1.5rem;
}

:focus {
    outline-color: var(--c-focus);
}

a {
    color: cornflowerblue;
    color: var(--c-accent);
    text-decoration: none;
}

a:visited {
    color: royalblue;
    color: var(--c-accent-dark);
}

a:hover,
a:active {
    text-decoration: underline;
}

abbr[title] {
    border-bottom: 1px dotted;
}



/*
* Image
*/
img {
    max-width: 100%;
    border: 0;
}

img,
svg {
    vertical-align: middle;
}



/*
* Figure
*/
figure > img {
    display: block;
}

figure > * {
    margin-bottom: 0;
}



/*
* Table
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

th, td {
    padding: calc(var(--spacing) / 2);
}

th {
    font-weight: bold;
}



/*
* Code / user input
*/
pre,
code,
kbd,
samp {
    font-family: "Fira Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

kbd {
    padding: calc(var(--spacing) / 4) var(--spacing);
    border: 1px solid var(--c-grey-light);
    border-radius: 4px;
    box-shadow: 0 1px var(--c-grey-dark);
    text-transform: capitalize;
}



/*
* Utility
*/

/*
* as per: https://github.com/h5bp/html5-boilerplate
*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    width: auto;
    height: auto;
    margin: 0;
    white-space: inherit;
}
