:root {
    /*
    * Used to create uniform visual space. Smaller/bigger values should be
    * created using `calc`:
    *
    * padding: calc( var(--spacing) / 2 );
    */
    --spacing: 12px;

    /*
    * Hierarchy of z-index values (i.e. planes). To elevate elements within
    * these planes, add arbitrary values small than 100 via `calc`:
    *
    * z-index: calc( var(--plane-document) + 10 );
    */
    --plane-document: 200;
    --plane-toolbox: 300;
    --plane-modal: 400;

    /*
    * Colors
    */
    --c-text: #222;
    --c-text-disabled: hsl(0, 0%, 70%);
    --c-background: #fff;
    --c-focus: hsl(40, 80%, 50%);

    --c-accent-light: hsl(220, 80%, 80%);
    --c-accent:       hsl(220, 50%, 50%);
    --c-accent-dark:  hsl(220, 50%, 40%);

    --c-grey-light: hsl(0, 0%, 80%);
    --c-grey:       hsl(0, 0%, 50%);
    --c-grey-dark:  hsl(0, 0%, 20%);
}
