.toolbox {
  --c-background: hsl(0, 0%, 85%);

  z-index: var(--plane-toolbox);
  display: flex;
  align-items: center;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
  background-color: var(--c-background);
}

.toolbox a {
  color: currentColor;
}

.toolbox > *:not(:last-child) {
  margin-right: calc(var(--spacing) * 2);
}

.site-title {
  margin-bottom: 0;
  font-size: 1rem;
}
