.sh-shortcut-table-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sh-shortcut-table kbd {
  display: inline-block;
  padding: calc(var(--sh-spacing) / 4) var(--sh-spacing);
}

.sh-shortcut-table tr:not(:last-child) {
  border-bottom: 1px solid var(--sh-c-alt-light);
}

.sh-shortcut-table th,
.sh-shortcut-table td {
  padding: var(--sh-spacing) calc(var(--sh-spacing) / 2);
}

.sh-shortcut-table th {
  font-weight: bold;
  text-align: left;
}

.sh-shortcut-table td:nth-child(2n+1) {
  text-align: right;
}
