/*
* Container for all documents
*/
.slidehub-container {
  --c-selected: hsl(220, 50%, 40%);
  --c-highlighted: hsl(0, 0%, 65%);
  --page-aspect-ratio: 1.25;
  --page-width: 200px;
  --border-width: 1px;

  padding: var(--spacing);
}

@media only screen and (min-width: 600px) {
  .slidehub-container {
    --page-width: 300px;
  }
}

/*
* Document
*/
.doc {
  --pages: 1;
  --page-height: calc(var(--page-width) / var(--page-aspect-ratio));

  width: 100%;
  height: var(--page-height);
  box-sizing: content-box;
  position: relative;
  z-index: var(--plane-document);

  overflow: hidden;
  border: var(--border-width) solid var(--c-alt-light);
  margin: calc(-1 * var(--border-width));
}

.doc.selected {
  --c-text: #000;
  --c-accent: hsl(220, 100%, 15%);
  --c-accent-dark: hsl(220, 100%, 5%);

  /*
  Elevate the selected document above other document. This is used to make its
  border visible when negative margins are used to collapse the border
  widths.
  */
  z-index: calc(var(--plane-document) + 10);
}

.doc-scrollbox {
  overflow-x: auto;
}

.page-container {
  /* Clears floated .page elements */
  display: flow-root;
  width: calc(
    var(--scrollbox-width) - var(--page-outer-width) + var(--pages) * var(--page-outer-width)
  );
}

.page {
  float: left;
  width: var(--page-width);
  height: var(--page-height);
  position: relative;
  display: flex;
  align-items: center;

  outline: var(--border-width) solid var(--c-alt-light);

  /* Make sure transparent slides appear on white background */
  background-color: #fff;
}

.page:not(.page--text) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page {
  margin-right: var(--border-width);
}

.page > img {
  display: block;
  pointer-events: none;

  /* Maintain aspect-ratio while filling the container */
  object-fit: contain;
  margin-right: auto;
  margin-left: auto;
  line-height: var(--page-height);
}

.doc-meta {
  align-self: flex-start;
  padding: calc(var(--spacing) / 2);
}

.doc-meta__title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
}

.dummy-page {
  width: calc(var(--scrollbox-width) - var(--page-outer-width));
  margin-right: 0;
}

/*
* Selected & Highlighted Documents
*/

.doc.selected .page-container::before,
.doc.highlighted:not(.selected) .page-container::before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.doc.selected .page-container::before,
.doc.highlighted:not(.selected) .page-container::before {
  opacity: 0.15;
  z-index: 220;
}

.doc.selected .page-container::before {
  background-color: hsl(220, 50%, 40%);
  background-color: var(--c-selected);
}

.doc.highlighted:not(.selected) .page-container::before {
  background-color: hsl(0, 0%, 75%);
  background-color: var(--c-highlighted);
}

/*
* Selected & Highlighted Pages
*/
.doc.selected .page,
.doc.highlighted .page {
  border: inherit !important;
}

.doc.selected .page.selected::before,
.doc.highlighted .page.highlighted::before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 230;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
}

.doc.selected .page.selected::before {
  border: 2px solid;
  border-color: hsl(220, 50%, 40%);
  border-color: var(--c-selected);
  z-index: 240;
}

.doc.highlighted .page.highlighted:not(.selected)::before,
.doc.highlighted:not(.selected) .page.highlighted::before {
  border: 2px solid hsl(0, 0%, 75%);
  border-color: hsl(0, 0%, 75%);
  border-color: var(--c-highlighted);
}
