.sh-page-widget {
  color: var(--sh-c-alt-dark);
}

.sh-page-widget__current-page,
.sh-page-widget__total-pages {
  font-feature-settings: "tnum";
}

.sh-page-widget__current-page::after {
  content: "/";
}
