.sh-modal {
  position: fixed;
  will-change: transform;
  z-index: var(--sh-plane-modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.sh-modal[aria-hidden='true'] {
  display: none;
}

.sh-modal-content {
  position: relative;
  overflow: auto;
  padding: calc(var(--sh-spacing) * 2);
  box-shadow: 0 0 10px #000;
  background-color: var(--sh-c-background);
  max-height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.sh-modal__close {
  position: absolute;
  top: calc(var(--sh-spacing) / 2);
  right: calc(var(--sh-spacing) / 2);
}

.sh-modal__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--sh-c-alt-light);
}
