/*
* Container for all documents
*/
.slidehub-container {
  --sh-c-selected: hsl(220, 50%, 40%);
  --sh-c-highlighted: hsl(0, 0%, 65%);
  --sh-page-aspect-ratio: 1.25;
  --sh-page-width: 200px;
  --sh-border-width: 1px;
}

@media only screen and (min-width: 600px) {
  .slidehub-container {
    --sh-page-width: 300px;
  }
}

/*
Slidehub Document
*/
.sh-doc {
  --sh-pages: 1;
  --sh-page-height: calc(var(--sh-page-width) / var(--sh-page-aspect-ratio));

  box-sizing: content-box;
  width: calc(100% - calc(2 * var(--sh-border-width)));
  height: var(--sh-page-height);
  position: relative;
  z-index: var(--sh-plane-document);

  overflow: hidden;
  border: var(--sh-border-width) solid var(--sh-c-alt-light);
  margin: calc(-1 * var(--sh-border-width));
}

.sh-doc.sh-selected {
  --sh-c-text: #000;
  --sh-c-accent: hsl(220, 100%, 15%);
  --sh-c-accent-dark: hsl(220, 100%, 5%);

  /*
  Elevate the selected document above other document. This is used to make its
  border visible when negative margins are used to collapse the border
  widths.
  */
  z-index: calc(var(--sh-plane-document) + 10);
}

.sh-doc-scrollbox {
  overflow-x: auto;
}

.sh-page-container {
  /* Clears floated .sh-page elements */
  display: flow-root;
  width: calc(
    var(--sh-scrollbox-width) - var(--sh-page-outer-width) + var(--sh-pages) * var(--sh-page-outer-width)
  );
}

.sh-page {
  float: left;
  width: var(--sh-page-width);
  height: var(--sh-page-height);
  position: relative;
  display: flex;
  align-items: center;

  outline: var(--sh-border-width) solid var(--sh-c-alt-light);

  /* Make sure transparent slides appear on white background */
  background-color: #fff;
}

.sh-page:not(.sh-page--text) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sh-page {
  margin-right: var(--sh-border-width);
}

.sh-page > img {
  width: 100%;
  border: 0;
  pointer-events: none;
  vertical-align: middle;

  /* Maintain aspect-ratio while filling the container */
  object-fit: contain;
  /* line-height: var(--sh-page-height); */
}


.sh-page > img[src=''],
.sh-page > img[data-src] {
  /* Style alt text */
  text-align: center;
  font-style: italic;
}

/*
* Indicate that a lazy-loaded image is still loading.
* Note: [data-src] is used to store the src for lazy-loading
*/
.sh-page > img[data-src]::after {
  content: ' loading ...';
}

.sh-doc-meta {
  align-self: flex-start;
  padding: calc(var(--sh-spacing) / 2);
}

.sh-doc-meta__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
}

.sh-dummy-page {
  width: calc(var(--sh-scrollbox-width) - var(--sh-page-outer-width));
  margin-right: 0;
}

/*
* Selected & Highlighted Documents
*/

.sh-doc.sh-selected .sh-page-container::before,
.sh-doc.sh-highlighted:not(.sh-selected) .sh-page-container::before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sh-doc.sh-selected .sh-page-container::before,
.sh-doc.sh-highlighted:not(.sh-selected) .sh-page-container::before {
  opacity: 0.15;
  z-index: 220;
}

.sh-doc.sh-selected .sh-page-container::before {
  background-color: hsl(220, 50%, 40%);
  background-color: var(--sh-c-selected);
}

.sh-doc.sh-highlighted:not(.sh-selected) .sh-page-container::before {
  background-color: hsl(0, 0%, 75%);
  background-color: var(--sh-c-highlighted);
}

/*
* Selected & Highlighted Pages
*/
.sh-doc.sh-selected .sh-page,
.sh-doc.sh-highlighted .sh-page {
  border: inherit !important;
}

.sh-doc.sh-selected .sh-page.sh-selected::before,
.sh-doc.sh-highlighted .sh-page.sh-highlighted::before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 230;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
}

.sh-doc.sh-selected .sh-page.sh-selected::before {
  border: 2px solid;
  border-color: hsl(220, 50%, 40%);
  border-color: var(--sh-c-selected);
  z-index: 240;
}

.sh-doc.sh-highlighted .sh-page.sh-highlighted:not(.sh-selected)::before,
.sh-doc.sh-highlighted:not(.sh-selected) .sh-page.sh-highlighted::before {
  border: 2px solid hsl(0, 0%, 75%);
  border-color: hsl(0, 0%, 75%);
  border-color: var(--sh-c-highlighted);
}
