.sh-modal {
  position: fixed;
  will-change: transform;
  z-index: var(--sh-plane-modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

/*
[1]: Use the `visibility` property to hide the modal to ensure the dialog can receive focus on
iOS Safari with VoiceOver. For more information, refer to

“The current state of modal dialog accessibility” by Scott O’Hara
https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility
*/
.sh-modal[aria-hidden='true'] {
  visibility: hidden; /* [1] */
}

.sh-modal-content {
  position: relative;
  overflow: auto;
  padding: calc(var(--sh-spacing) * 2);
  box-shadow: 0 0 10px #000;
  background-color: var(--sh-c-background);
  max-height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.sh-modal__close {
  position: absolute;
  top: calc(var(--sh-spacing) / 2);
  right: calc(var(--sh-spacing) / 2);
}

.sh-modal__close svg {
  vertical-align: middle;
}

.sh-modal__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--sh-c-alt-light);
}
