.sh-form-group {
  padding: var(--sh-spacing);
}

.sh-form-label {
  max-width: 400px;
}

/*
* Button
*/
.sh-button {
  padding: calc(var(--sh-spacing) / 4) var(--sh-spacing);
  border-radius: 3px;
  color: #fff;
  background-color: hsl(220, 50%, 40%);
  background-color: var(--sh-c-accent);
  font: inherit;
}

.sh-button:disabled {
  color: hsl(0, 0%, 70%);
  color: var(--sh-c-text-disabled);
}

.sh-button:enabled:active {
  background-color: hsl(220, 60%, 30%);
  background-color: var(--sh-c-accent-dark);
}

.sh-button:disabled:focus {
  outline: 0;
}

.sh-button--close {
  padding: calc(var(--sh-spacing) / 2);
  border: 0;
}

.sh-button--close,
.sh-button--close:enabled:active {
  background-color: transparent;
}

/*
* Subtle button
*/
.sh-button--subtle {
  padding: 0 calc(var(--sh-spacing) / 2);
  border: 2px solid var(--sh-c-alt);
  color: currentColor;
  background-color: transparent;
}

.sh-button--subtle:enabled:active {
  border-color: var(--sh-c-alt-dark);
  color: #000;
  background-color: inherit;
}

/*
* Switch button
*/
.sh-form-group--switch {
  display: flex;
  align-items: center;
}

.sh-form-group--switch:not(:last-child) {
  border-bottom: 1px solid var(--sh-c-alt-light);
}

.sh-form-group--switch .sh-form-label {
  flex: 1;
  margin-right: calc(4 * var(--sh-spacing));
}

.sh-switch {
  display: flex;
  color: #fff;

  --offset: 4px;
  position: relative;
  width: calc(var(--sh-spacing) * 4.5);
  height: calc(var(--sh-spacing) * 2 + var(--offset) * 2);
  padding: var(--offset);
  border: 0;
  border-radius: calc(var(--sh-spacing) * 2 + var(--offset));
}

.sh-switch:disabled {
  background-color: var(--sh-c-alt);
}

.sh-switch[aria-checked='true']:enabled {
  background-color: hsl(220, 50%, 40%);
  background-color: var(--sh-c-accent);
}

.sh-switch[aria-checked='false']:enabled {
  background-color: hsl(0, 0%, 50%);
  background-color: var(--sh-c-alt);
}

.sh-switch__state {
  position: absolute;
  top: var(--offset);
  width: calc(var(--sh-spacing) * 2);
  height: calc(var(--sh-spacing) * 2);
  line-height: calc(var(--sh-spacing) * 2);
  color: var(--sh-c-text);
  border-radius: var(--sh-spacing);
}

.sh-switch__state--true {
  left: var(--offset);
}

.sh-switch__state--false {
  right: var(--offset);
}

.sh-switch[aria-checked='true']:enabled .sh-switch__state--true,
.sh-switch[aria-checked='false']:enabled .sh-switch__state--false {
  background-color: #fff;
}

.sh-switch[aria-checked='true']:disabled .sh-switch__state--true,
.sh-switch[aria-checked='false']:disabled .sh-switch__state--false {
  background-color: var(--sh-c-alt-light);
}
