@media only screen and (max-width: 999px) {
  /*
  See trumps.visually-hidden.css
  */
  .sh-status-bar {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1000px) {
  .sh-status-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--sh-plane-status-bar);
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr auto;
    grid-gap: var(--sh-spacing);
    align-items: center;
    padding: calc(var(--sh-spacing) / 2) var(--sh-spacing);
    border-top: 2px solid var(--sh-c-alt-light);
    background-color: var(--sh-c-background);
    font-size: 0.85em;
  }
}
