.sh-shortcut-table-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sh-shortcut-table {
  margin: var(--sh-spacing);
  vertical-align: baseline;
}

.sh-shortcut-table tr:not(:last-child) {
  border-bottom: 1px solid var(--sh-c-alt-light);
}

.sh-shortcut-table th,
.sh-shortcut-table td {
  padding: var(--sh-spacing) calc(var(--sh-spacing) / 2);
}

.sh-shortcut-table th {
  font-weight: bold;
}

.sh-shortcut-table kbd {
  padding: calc(var(--sh-spacing) / 4) var(--sh-spacing);
}

.sh-shortcut-table__input {
  text-align: right;
  min-width: 10em;
}

.sh-shortcut-table__action {
  text-align: left;
}

.sh-shortcut-group:not(:last-child) {
  margin-bottom: calc(var(--sh-spacing) / 2);
}

.sh-shortcut-group > kbd {
  display: inline-block;
}
