@media only screen and (min-width: 1000px) {
  .sh-status-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--plane-status-bar);
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr auto;
    grid-gap: var(--spacing);
    align-items: center;
    padding: calc(var(--spacing) / 2) var(--spacing);
    border-top: 2px solid var(--c-alt-light);
    background-color: var(--c-background);
    font-size: 0.85em;
  }

  .sh-status-bar > * {
    flex: 1;
  }

  .sh-status-bar a {
    color: currentColor;
  }

  .sh-status-bar kbd {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .sh-modal-buttons {
    text-align: right;
  }

  .sh-modal-buttons > *:not(:last-child) {
    margin-right: calc(var(--spacing) * 2);
  }
}
