/*
* Container for all documents
*/
.slidehub-container {
  padding: var(--spacing);
}

/*
* Document view
*
* The document view contains a document. This document overflows.
*/
.doc-view {
  --page-aspect-ratio: 1.25;
  --page-width: 200px;
  --page-height: calc(var(--page-width) / var(--page-aspect-ratio));
  --border-width: 1px;

  width: 100%;
  height: var(--page-height);
  box-sizing: content-box;
  position: relative;
  z-index: var(--plane-document);

  overflow: hidden;
  border: var(--border-width) solid var(--c-alt-light);
  margin: calc(-1 * var(--border-width));
}

@media only screen and (min-width: 600px) {
  .doc-view {
    --page-width: 300px;
  }
}

.doc-view.active {
  --c-text: #000;
  --c-accent: hsl(220, 100%, 15%);
  --c-accent-dark: hsl(220, 100%, 5%);

  /*
  Elevate the active view above all other views. This is used to make its
  border visible when negative margins are used to collapse the border
  widths.
  */
  z-index: calc(var(--plane-document) + 10);
}

.doc-scrollbox {
  overflow-x: auto;
}

.doc {
  /* Clears floated .doc__page elements */
  display: flow-root;
}

.doc__page {
  float: left;
  width: var(--page-width);
  height: var(--page-height);
  position: relative;

  outline: var(--border-width) solid var(--c-alt-light);

  /* Make sure transparent slides appear on white background */
  background-color: #fff;
}

.doc__page:not(:last-child) {
  margin-right: var(--border-width);
}

.doc__page > img {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  /* Maintain aspect-ratio while filling the container */
  object-fit: contain;
  margin-right: auto;
  margin-left: auto;
  line-height: var(--page-height);
}

.doc-meta {
  padding: calc(var(--spacing) / 2);
}

.doc-meta__title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
}

/*
* Highlighting
*/

.doc-view.active .doc {
  --highlight-color: hsl(220, 50%, 40%);
}

.doc-view.active .doc::before,
.doc-view.active .doc__page.active::before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
Make sure that bug [1] doesn’t affect these elements when using custom
properties on their pseudo elements.
[1] developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
*/
.doc-view.active .doc {
  color: inherit !important;
  background-color: transparent !important;
  opacity: inherit !important;
}

.doc-view.active .doc::before {
  background-color: var(--highlight-color);
  opacity: 0.15;
}

.doc-view.active .doc__page.active {
  border: inherit !important;
  opacity: inherit !important;
}

.doc-view.active .doc__page.active::before {
  border: 2px solid var(--highlight-color);
  opacity: 0.25;
}

/*
Custom properties don’t work on pseudo elements in Edge 15 [1].
[1] developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
In the future, the custom property-based values can be used.
*/
.doc-view.active .doc::before {
  z-index: 220;
  /* z-index: calc(var(--plane-document) + 20); */
}

.doc-view.active .doc__page.active::before {
  z-index: 230;
  /* z-index: calc(var(--plane-document) + 30); */
}
