/*
* Resets
*/
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    padding: 0;
    border: 0;
}

button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: visible;
    font: inherit;
    border: 0;
    padding: 0;
}



/*
* Basic Styling
*/
input,
button {
    color: #222;
    color: var(--c-text);
}

input:disabled,
button:disabled {
    color: lightgrey;
    color: var(--c-text-disabled);
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
button:disabled {
    background-color: grey;
    background-color: var(--c-grey);
}

input[type="submit"],
button {
    color: #fff;
    background-color: cornflowerblue;
    background-color: var(--c-accent);
}

.form-group {
    padding: var(--spacing);
}

.form-label {
    max-width: 400px;
}



/*
* Button
*/
input[type="submit"],
button {
    padding: calc(var(--spacing) / 4) var(--spacing);
}

input[type="submit"]:enabled:active,
button:enabled:active {
    background-color: royalblue;
    background-color: var(--c-accent-dark);
}

input[type="submit"]:disabled:focus,
button:disabled:focus {
    outline: 0;
}

.button--close {
    padding: calc(var(--spacing) / 2);
}

.button--close,
.button--close:enabled:active {
    background-color: transparent;
}



/*
* Switch button
*/
.form-group--switch {
    display: flex;
    align-items: center;
}

.form-group--switch:not(:last-child) {
    border-bottom: 1px solid var(--c-grey-light);
}

.form-group--switch .form-label {
    flex: 1;
    margin-right: calc(4 * var(--spacing));
}

[aria-checked] {
    display: flex;
    color: #fff;

    --size: calc(var(--spacing) * 2);
    --offset: 4px;
    position: relative;
    width: calc(var(--spacing) * 4.5);
    height: calc(var(--spacing) * 2 + var(--offset) * 2);
    padding: var(--offset);
    border: 0;
    border-radius: calc(var(--size) + var(--offset));
    box-shadow: inset 0 0 calc(var(--offset) * 2) hsla(0, 0%, 0%, 0.5);
}

[aria-checked]:disabled {
    background-color: var(--c-grey);
}

[aria-checked="true"]:enabled {
    background-color: cornflowerblue;
    background-color: var(--c-accent);
}

[aria-checked="false"]:enabled {
    background-color: var(--c-grey);
}

[aria-checked] .state {
    position: absolute;
    top: var(--offset);
    width: calc(var(--spacing) * 2);
    height: calc(var(--spacing) * 2);
    line-height: calc(var(--spacing) * 2);
    color: var(--c-text);
    border-radius: var(--spacing);
}

[aria-checked] .state--true {
    left: var(--offset);
}

[aria-checked] .state--false {
    right: var(--offset);
}

[aria-checked="true"]:enabled .state--true,
[aria-checked="false"]:enabled .state--false {
    background-color: #fff;
    box-shadow:
        inset 0 0 4px hsla(0, 0%, 0%, 0.3),
        0 0 4px hsla(0, 0%, 0%, 0.3);
}

[aria-checked="true"]:disabled .state--true,
[aria-checked="false"]:disabled .state--false {
    background-color: var(--c-grey-light);
}
